@media only screen and (max-width: 1200px) {
    .main {
        flex-direction: column;
        width: 40vw;
        height: 70vh;
    }

    .img-container1 {
        display: none;
    }

    .img-container2 {
        display: block;
        height: 50%;
    }

    .image2 {
        width: 100%;
        height: 100%;
        border-radius: 5% 5% 0 0;
    }

    .text-container {
        width: 100%;
        height: 35vh;
        border-radius: 0 0 5% 5%;
    }

}